[submodule "upstream/superpowers"]
	path = upstream/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "upstream/everything-claude-code"]
	path = upstream/everything-claude-code
	url = https://github.com/affaan-m/everything-claude-code.git
[submodule "upstream/ui-ux-pro-max-skill"]
	path = upstream/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
[submodule "upstream/humanizer-zh"]
	path = upstream/humanizer-zh
	url = https://github.com/op7418/Humanizer-zh.git
